<!DOCTYPE html>
<html lang="{{site lang}}" style="max-width: 70ch; padding: 3em 1em; margin: auto; font: 1.25em/1.5 sans-serif">
<head>
<title>{{#title}}{{title}} | {{/title}}{{site title}}</title>
<meta charset="utf-8"/>
</head>
<body>
<h1>{{title}}</h1>
<p>{{#date}}{{d}}/{{m}}/{{y}} | {{/date}}<a href="{{index permalink}}">{{site title}}</a></p>
{{content}}
{{#pictures}}<a href="{{permalink}}">
    <figure class="small-figure">
        <img alt="{{alt}}" src="{{file}}"/>
        <figcaption class="gallery-caption">{{caption}}</figcaption>
    </figure>
</a>{{/pictures}}
</body>
</html>
